.ToDoItem {
    height: 32px;
    line-height: 32px;
    position: relative;
    background: #629A9C;
    border-left:  5px solid red;
}
.ToDoItem input{
    position: absolute;
    left: 15px;
    top: 6px;
    height: 16px;
    width: 16px;
}
.ToDoItem span{
    position: absolute;
    right: 38px;
    top: 0;
}
.ToDoItem p{
    text-align: left;
    padding-left: 40px;
}
